.footer {
  max-width: 1200px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.nebolshinfo {
  width: 600px;
}
.echeinfo {
  width: 600px;
}
.bs1 {
}
.bs2 {
}
.bs3 {
}
.bs4 {
}
.bs5 {
}
.svyaz1 {
}
.ts1 {
}
.ts2 {
}
.f {
}
.ts3 {
}
.ts4 {
}
.ts5 {
}
.ts6 {
}
