.body {
  max-width: 1200px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(144, 69, 69);
}
.header {
  display: flex;
  justify-content: space-around;

  background-color: rgb(181, 152, 114);
  max-width: 1200px;
  height: 40px;
}
.logo {
}
.katalog {
  font-family: cursive;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vhod {
  font-family: cursive;
  font-size: 20px;
}
.register {
  font-size: 20px;
  margin-left: 20px;
  font-family: cursive;
}
